/* set web page default font margin and border */
*{
    margin: 0;
    font-family: Arial;
    border: border-box;

}
/* desiging navbar properties */
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* design logo div height and width */
.nav-logo{
   height: 50px;
   width: 100px;
}
/* set logo as a background image */
.logo{
    background-image: url(logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}
/* give the hover border effect property */
.border{
    border: 2px solid transparent;

}
/* hover properties */
.border:hover{
    border: 2px solid white;
}
/* All select box in search bar  */
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 18px;
}
/* search box in search bar */
.add-sec{
    font-size: 1rem;
    margin-left: 3px;
}
/* search icon in search bar */
.add-icon{
    display:flex;
    align-items: center;
    margin-left: 3px;
}
/* property of search bar */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 670px;
    height: 40px;
    border-radius: 4px;
    margin-left: 20px;
}
/* Select bar properties */
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
/* Input bar properties in search bar */
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
/* search icon properties in search bar */
.search-icon{
    width: 45px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
    margin-right: 25px;
}
/* search bar orange hover effect */
.nav-search :hover{
    border: 2px solid orange;
}
/* flag bar properties */
.nav-flag{
    display: flex;
    height: 50px;
    width: 80px;
    align-items: center;
    justify-content: center;
}
/* flag icon set as background image */
.flag{
    background-image: url(flag.png);
    background-size: cover;
    width: 20px;
    height: 15px;
}
/* language select bar property */
.lang-select{
    background-color: #0f1111;
    color: white;
}
/* Sign in properties */
.nav-signin{
    height: 50px;
    width: 180px;
    align-content: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}
/* sign in text size set */
.signin{
  font-size: 0.90rem;
}
/* account selection properties */
.account-select{
    background-color: #0f1111;
    color: white;
   font-size: 1rem;
   font-weight: 700;
}
/* Return bar div  properties */
.nav-return{
    justify-content: center;
    align-content: center;
    margin-left: 10px;
    margin-right: 10px;
    height: 50px;
    width: 90px;
}
/* return txt size set */
.return{
    font-size: 0.70rem;
}
/* order text property set */
.order{
    font-size: 1rem;
    display: flex;
    font-weight: 700;
}
/* cart icon size set */
.nav-cart i{
    font-size: 30px;
}
/* cart bar div properties */
.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
    width: 140px;
    height: 50px;
    display: flex;
    /* justify-content: center; */
    align-items: center;

}
/* Cart text margin set */
.cart-txt{
    margin-top: 15px;
    margin-left: 5px;
}
/* panel Section Properties */
.panel{
    display: flex;
    height: 40px;
    background-color: #222f3d;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
/* panel option paragraph property define */
.panel-option p{
    display:inline;
    margin-left: 17px;
}
/* option bar remain or whole properties */
.panel-option{
width: 95%;
font-size: 0.85rem;
}